<title>MetFlix Portal</title>

<style>
    *{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
    body{
        background-image: url();
    }
    a{
    border-radius: 35px;
    font-weight: bold;
    font-size: medium;
    border: none;
    outline: none;
    border: solid 1px #fff;
    color: #fff;
    padding: 10px;
    width: 8%;
    margin: 5px;
    cursor: pointer;
    justify-content: center;
    }

    nav{
        float: right;
    }

    header{
        background-color: red;
        padding: 30px;
        margin: 50px;
    }

    a:hover{

    }
</style>

<header>
    <nav>
        <a href="/login" id="login">Login</a>
        <a href="/register">Register</a>
    </nav>
</header>


